In [1]:
import leganalise as leg
import pandas as pd

In [2]:
loto = leg.analise()

In [4]:
loto.dados['numeros_juntos'] = loto.dados.loc[:, 2:16].apply(lambda row: ','.join(row.astype(str)), axis=1)

In [5]:
loto.dados

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,numeros_juntos
1,3207,28/09/2024,1,2,3,4,6,8,9,11,12,13,15,17,18,20,23,"1,2,3,4,6,8,9,11,12,13,15,17,18,20,23"
2,3206,27/09/2024,4,5,7,9,10,13,14,15,16,19,20,21,23,24,25,"4,5,7,9,10,13,14,15,16,19,20,21,23,24,25"
3,3205,26/09/2024,1,3,4,7,8,10,12,13,16,17,19,21,23,24,25,"1,3,4,7,8,10,12,13,16,17,19,21,23,24,25"
4,3204,25/09/2024,2,3,5,6,11,12,13,16,17,18,19,20,21,22,23,"2,3,5,6,11,12,13,16,17,18,19,20,21,22,23"
5,3203,24/09/2024,2,3,4,5,10,11,12,15,17,18,19,20,22,24,25,"2,3,4,5,10,11,12,15,17,18,19,20,22,24,25"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3200,5,27/10/2003,1,2,4,8,9,11,12,13,15,16,19,20,23,24,25,"1,2,4,8,9,11,12,13,15,16,19,20,23,24,25"
3201,4,20/10/2003,1,2,4,5,8,10,12,13,16,17,18,19,23,24,25,"1,2,4,5,8,10,12,13,16,17,18,19,23,24,25"
3202,3,13/10/2003,1,4,6,7,8,9,10,11,12,14,16,17,20,23,24,"1,4,6,7,8,9,10,11,12,14,16,17,20,23,24"
3203,2,06/10/2003,1,4,5,6,7,9,11,12,13,15,16,19,20,23,24,"1,4,5,6,7,9,11,12,13,15,16,19,20,23,24"
3204,1,29/09/2003,2,3,5,6,9,10,11,13,14,16,18,20,23,24,25,"2,3,5,6,9,10,11,13,14,16,18,20,23,24,25"